<div id="header" class="clear">
  <h1>JMoney</h1>
</div>

<div id="nav" class="clear">
  <ul>
    <li><a routerLink="/accounts" routerLinkActive="active" class="ui-corner-top">Accounts</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="ui-corner-top">Categories</a></li>
    <li><a routerLink="/reports" routerLinkActive="active" class="ui-corner-top">Reports</a></li>
    <li><a routerLink="/options" routerLinkActive="active" class="ui-corner-top">Options</a></li>
  </ul>
</div>

<div id="content" class="clear">
  <router-outlet></router-outlet>
</div>

<div id="footer" class="clear">
  <span class="left">Made with &hearts;</span>
  <span class="right">Copyright 2001-2017 © Johann Gyger</span>
</div>
