<div id="sub" *ngIf="accounts">
  <ul>
    <li *ngFor="let account of accounts">
      <div class="dropdown">
        <a [routerLink]="['/accounts', account.id, 'entries']" (click)="onSelected(account.id)"
           class="ui-corner-all" [class.active]="accountId == account.id">{{account.name}}</a>
      </div>
    </li>
    <li>
      <a [routerLink]="['/accounts/new']"><i class="icon-plus-sign"></i> Neues Konto</a>
    </li>
  </ul>
</div>

<div id="main">
  <router-outlet></router-outlet>
</div>
