<div id="subnav">
    <a href="#/accounts/{{accountId}}/entries/new" class="ui-corner-all"><i class="icon-plus-sign"></i> Neue Buchung</a>
    <a href="#/accounts/{{accountId}}" class="pull-right"><i class="icon-wrench"></i> Kontoeinstellungen</a>
</div>

<table id="entryTable">
    <thead>
    <tr>
        <!--<th scope="col"><input type="checkbox" class="entryCheckBoxHeader"></th>-->
        <th scope="col">Datum<br>Valuta</th>
        <th scope="col">Beschreibung<br>Kategorie<br>Memo</th>
        <th scope="col">Status</th>
        <th scope="col">
            <div class="amount">Einnahmen</div>
        </th>
        <th scope="col">
            <div class="amount">Ausgaben</div>
        </th>
        <th scope="col">
            <div class="amount">Saldo</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="e in entries" ng-class="{selected: e.id==entry.id}">
        <!--<td class="entryCheckBox"><input type="checkbox"></td>-->
        <td class="entryDate"><a href="#/accounts/{{accountId}}/entries/{{e.id}}?page={{page}}">
            {{e.date | date:'dd.MM.yyyy'}}
            <br>
            {{e.valuta | date:'dd.MM.yyyy'}}
        </a></td>
        <td class="entryDesc"><a href="#/accounts/{{accountId}}/entries/{{e.id}}">
            {{e.description}}<br>{{e.categoryName}}<br>{{e.memo}}
        </a></td>
        <td class="entryStatus"><a href="#/accounts/{{accountId}}/entries/{{e.id}}">
            2
        </a></td>
        <td class="entryAmount"><a href="#/accounts/{{accountId}}/entries/{{e.id}}"
                                   ng-show="e.amount >= 0">{{e.amount / 100 | number:2}}</a></td>
        <td class="entryAmount"><a href="#/accounts/{{accountId}}/entries/{{e.id}}"
                                   ng-show="e.amount < 0">{{-e.amount / 100 | number:2}}</a></td>
        <td class="entryAmount"><a href="#/accounts/{{accountId}}/entries/{{e.id}}">{{e.balance /
            100 | number:2}}</a></td>
    </tr>
    </tbody>
</table>

<img src="img/loader.gif" ng-show="isLoading">

<div id="paging">
    <ul>
        <li>
            <a href="#/accounts/{{accountId}}/entries/{{e.id}}?page=1"><i class="icon-fast-backward"></i></a>
        </li>
        <li>
            <a href="#/accounts/{{accountId}}/entries/{{e.id}}?page={{prevPage()}}"><i
                    class="icon-backward"></i></a>
        </li>
        <li class="text-padding">
            {{page}}/{{maxPage}}
        </li>
        <li>
            <a href="#/accounts/{{accountId}}/entries/{{e.id}}?page={{nextPage()}}"><i class="icon-forward"></i></a>
        </li>
        <li>
            <a href="#/accounts/{{accountId}}/entries/{{e.id}}?page={{maxPage}}"><i
                    class="icon-fast-forward"></i></a>
        </li>
    </ul>
</div>
<!--DEBUG:-->
<!--<pre>page={{page}}</pre>-->

