<div class="subnav">
    <a onclick="history.back()">
        <i class="icon-circle-arrow-left"></i> Zurück
    </a>
    <a ng-click="delete()" ng-show="entry.id != null">
        <i class="icon-trash"></i> Buchung löschen
    </a>
</div>

<form>
    <div id="entryForm" class="ui-corner-all">
        <table>
            <tbody>
            <tr>
                <td>
                    <input id="date" name="date" title="Datum" class="full-width" placeholder="Datum"
                           ng-model="entry.date" ui-date autofocus>
                </td>
                <td>
                    <input class="input-xlarge" id="description" type="text" class="full-width"
                           placeholder="Beschreibung"
                           ng-model="entry.description"></td>
                <td>
                    <select id="status" size="0" ng-model="entry.status"
                            ng-options="s.id as s.label for s in entryStates">
                        <option value=""></option>
                    </select></td>
                <td>
                    <input id="income" type="number" step="0.01" name="income"
                           class="amount full-width" placeholder="Einnahme"
                           ng-model="entry.income" ui-event="{blur:'updateIncome(entry)'}"/>
                </td>
                <td class="last">
                    <input id="expense" type="number" step="0.01" name="expense"
                           class="amount full-width" placeholder="Ausgabe"
                           ng-model="entry.expense" ui-event="{blur:'updateExpense(entry)'}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="valuta" name="valuta" ng-model="entry.valuta" class="full-width" placeholder="Valuta"
                           ui-date>
                </td>
                <td>
                    <select class="input-xlarge" id="category" class="full-width" ng-model="entry.categoryId"
                            ng-options="c.id as c.nameIndented for c in categories">
                        <option value=""></option>
                    </select>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--<label for="memo">Memo</label>-->
                    <input class="input-xlarge" id="Memo" type="text" class="full-width" placeholder="Memo"
                           ng-model="entry.memo">
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div ng-show="entry.categoryId == splitCategory.id" ng-include="'templates/accounts/sub-entries.html'"></div>

    <input type="submit" value="Speichern" ng-click="save()">
</form>
