<hr>

<div class="subnav">
    <a ng-click="addSubEntry()"><i class="icon-plus-sign"></i> Unterbuchung hinzufügen</a>
</div>

<p ng-repeat="subEntry in entry.subEntries">
    <input class="input-xlarge" type="text" placeholder="Beschreibung" ng-model="subEntry.description">
    <select class="input-xlarge" ng-model="subEntry.categoryId" ng-options="c.id as c.nameIndented for c in categories"></select>
    <input type="number" step="0.01" class="amount" placeholder="Einnahme" ng-model="subEntry.income"
           ui-event="{blur:'updateSubEntryIncome(subEntry)'}"/>
    <input type="number" step="0.01" class="amount" placeholder="Ausgabe" ng-model="subEntry.expense"
           ui-event="{blur:'updateSubEntryExpense(subEntry)'}"/>
    <a title="Kategorie löschen" ng-click="removeSubEntry(subEntry)"><i class="icon-minus-sign"></i></a>
</p>

<p>
    Total: {{subEntryTotal / 100 | number:2}}
</p>

<p class="error-inline" ng-show="subEntryTotal != entry.amount">
    Summe der Unterbuchungen {{subEntryTotal / 100 | number:2}} stimmt nicht mit Buchungsbetrag {{entry.amount / 100 |
    number:2}} überein.
</p>

<hr>
