/* Reset browser specific styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}

ul {
    margin-left: 2em;
}

div#categories {
    margin-top: 5px;
}

div#categories li {
    padding: 3px;
}

img {
    border: 0;
    vertical-align: middle;
}

/* Le Corbusier colors (http://www.lescouleurs.ch/le-corbusier/die-farbklaviaturen/les-claviers-de-couleurs-1959/) */
.courbusier {
    color: #EAE4D7; /* blanc ivoire */
    color: #DDBF99; /* terre sienne claire 59 */
    color: #DBB07F; /* ocre jaune clair */

    color: #92969A; /* gris clair 59 */
    color: #81868B; /* gris 59 */
    color: #60646A; /* gris fonc� 59 */
    color: #3A3B3B; /* noir d'ivoire */

    color: #7AA7CB; /* bleu c�rul�en 59 */
    color: #313D6B; /* bleu outremer fonc� */
    color: #3957A5; /* bleu outremer 59 */

    color: #AC443A; /* rouge vermillon 59 */
    color: #F2BB1D; /* le jaune vif */
    color: #428F70; /* vert 59 */
}

.gray-background {
    background-color: #ffffff;
    background-color: #f5f5f5;
    background-color: #f7f7f7;
    background-color: #fcfcfc;
    background-color: #eeeeee;
}

body {
    text-align: left;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 76%;
    line-height: 1em;
    color: #60646A;
    margin: 0 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
}

h1 {
    font-size: 2.2em;
    color: #313D6B;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.67em 0;
}

p {
    margin-bottom: 10px;
}

hr {
    margin: 7px 0;
    border: 0;
    border-top: 1px solid #92969A;
}

a {
    color: #313D6B;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

thead, tbody {
    border-top: 1px solid #92969A;
    border-bottom: 1px solid #92969A;
}

tr {
    vertical-align: top;
}

th, td {
    padding: 3px;
}

.thSpace {
    padding-right: 20px;
}

.entryTable td {
    height: 3em;
}

.entryTable td a {
    display: block;
    width: 100%;
    height: 100%;
}

.entryTable tr {
    border-top: 1px solid #92969A;
    border-bottom: 1px solid #92969A;
}

.entryTable .selected {
    background: #DDBF99 url(../img/ui-bg_highlight-soft_75_ddbf99_1x100.png) 50% 50% repeat-x;
}

.entryTableDate {
    width: 10%;
}

.entryTableDesc {
    width: 55%
}

.entryTableStatus {
    width: 5%
}

.entryTableAmount {
    width: 10%;
    text-align: right;
}

#entryForm table {
    background: #DDBF99 url(../img/ui-bg_highlight-soft_75_ddbf99_1x100.png) 50% 50% repeat-x;
    margin-bottom: 10px;
}

#entryForm td {
    padding: 4px 10px;
}

#entryForm td.last {
    padding: 4px 15px 4px 10px;
}

.full-width {
    width: 100%;
}

.report-entry {
    width: 40em;
    margin: 10px 0;
}

.report-total {
    font-weight: bold;
    margin-bottom: 15px;
}

.amount {
    text-align: right;
}

#sub ul {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

div.hr {
    height: 1px;
    margin: 1.5em 10px;
    border-bottom: 1px dotted black;
}

div.checkbox {
    border: 1px solid #3A3B3B;
    height: 15px;
    width: 15px;
}

div#header {
    float: right;
}

.pull-right {
    float: right;
    margin-right: 0;
}

div#content {
    padding: .6em 0;
}

div#nav {
    border-bottom: 5px solid #DDBF99;
}

div#nav ul {
    list-style: none;
    padding: 2.5em 0 0 0;
    margin: 0;
    line-height: 1em;
}

div#nav li {
    float: left;
}

div#nav a {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    color: #60646A;
}

div#nav strong a, div#nav strong a:hover {
    background: #DDBF99 url(../img/ui-bg_highlight-soft_75_ddbf99_1x100.png) 50% 50% repeat-x;
}

div#nav a:hover {
    background: #EAE4D7 url(../img/ui-bg_glass_75_eae4d7_1x400.png) 50% 50% repeat-x;
}

div#paging ul {
    list-style: none;
    padding: 0 0 2.5em 0;
    margin: 0;
}

div#paging li {
    float: left;
    padding: 0 5px 10px;
}

div#paging a {
    font-size: 1em;
}

div#paging li.text-padding {
    padding-top: 3px;
}

div#sub {
    float: left;
    width: 13em;
}

div#sub ul li {
    list-style: none;
    margin-left: 0;
}

div#sub a,
div#sub img {
    padding: 5px 5px 5px 14px;
    display: block;
    overflow: hidden;
}

div#sub .selected {
    font-weight: bold;
}

.loader {
    padding: 10px 0;
}

div#sub a:hover {
    background: #EAE4D7 url(../img/ui-bg_glass_75_eae4d7_1x400.png) 50% 50% repeat-x;
}

div#main {
    margin-left: 14em;
    margin-top: 5px;
}

div#main a {
    /*display: block;*/
}

div.subnav {
    margin-bottom: 10px;
}

div.subnav a {
    margin-right: 1em;
    vertical-align: middle;
}

div.subnav a.pull-right {
    margin-right: 0;
}

div#footer {
    border-top: 5px solid #DDBF99;
    padding-top: 5px;
}

div#footer .left {
    float: left;
}

div#footer .right {
    float: right;
}

div#colors div {
    padding: 5px;
    margin: 5px;
    float: left;
}

/* Clearfix technique, Tony Aslett, csscreator.com */
.clear:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.clear {
    zoom: 1;
}

.input-large {
    width: 210px;
}

.button-bar {
    margin: 10px 0;
}
