<script type="text/ng-template" id="category-item.html">
    <input id="name" class="input-large" ng-model="item.name"/>
    <a title="Unterkategorie hinzufügen" ng-click="add(item)"><i class="icon-plus-sign"></i></a>
    <a title="Kategorie löschen" ng-click="remove(item)"><i class="icon-minus-sign"></i></a>

    <ul>
        <li ng-repeat="item in item.children" ng-include="'category-item.html'"></li>
    </ul>
</script>

<ul>
    <li ng-repeat="item in tree.children" ng-include="'category-item.html'"></li>
</ul>
